* {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    outline:none;
}
a {
    text-decoration:none;
}
h1 {
    font-size: xx-large;
}
@import "../../vendor/danielgp/common-styles/scss/base1.scss";
@import "base.2014.scss";
@import "../../vendor/danielgp/common-styles/scss/form.scss";
@import "../../vendor/danielgp/common-styles/scss/gradients.scss";
@import "../../vendor/danielgp/common-styles/scss/tabber.scss";
@import "../../vendor/danielgp/common-styles/scss/upperRightBox.scss";
